INTERNAL_APP_ACCESS_CODE=letmein
BACKEND_PORT=4000
FRONTEND_PORT=5173
VITE_API_BASE_URL=http://localhost:4000
VITE_ENTRA_TENANT_ID=
VITE_ENTRA_CLIENT_ID=
VITE_ENTRA_API_SCOPE=
ENTRA_TENANT_ID=
ENTRA_CLIENT_ID=
ENTRA_AUDIENCE=
ENTRA_REQUIRED_SCOPE=access_as_user
DB_FILE=./data/tms.sqlite
CARRIER_API_CONFIG=[]
THREE_PL_BASE_URL=https://3pl.hyperiontms.com
THREE_PL_CLIENT_ID=
THREE_PL_CLIENT_SECRET=
THREE_PL_TIMEOUT_MS=15000
PRIORITY1_BASE_URL=https://api.priority1.com
PRIORITY1_API_KEY=
PRIORITY1_CUSTOMER_ID=
PRIORITY1_TIMEOUT_MS=20000
PRIORITY1_ACCESSORIAL_MAP={}
