BACKEND_PORT=4000
SEED_DEMO_DATA=false

CORS_ORIGIN=https://tms.yourcompany.com
INTERNAL_APP_ACCESS_CODE=REPLACE_WITH_A_LONG_RANDOM_SECRET

# Keep this empty when IIS proxies /api on the same public origin.
VITE_API_BASE_URL=
VITE_ENTRA_TENANT_ID=
VITE_ENTRA_CLIENT_ID=
VITE_ENTRA_API_SCOPE=

SQL_SERVER_CONNECTION_STRING=Driver={ODBC Driver 17 for SQL Server};Server=20.115.91.30;Database=LTLTms;Uid=ltltms_app;Pwd=REPLACE_WITH_APP_PASSWORD;Encrypt=yes;TrustServerCertificate=yes;

ENTRA_TENANT_ID=
ENTRA_CLIENT_ID=
ENTRA_AUDIENCE=
ENTRA_REQUIRED_SCOPE=access_as_user

CARRIER_API_CONFIG=[]

THREE_PL_BASE_URL=https://virncorp.3plsystems.com
THREE_PL_CLIENT_ID=
THREE_PL_CLIENT_SECRET=
THREE_PL_TIMEOUT_MS=60000

PRIORITY1_BASE_URL=https://api.priority1.com
PRIORITY1_API_KEY=
PRIORITY1_CUSTOMER_ID=
PRIORITY1_TIMEOUT_MS=60000
PRIORITY1_ACCESSORIAL_MAP={}

ROADRUNNER_BASE_URL=https://webservices.rrts.com/rating/ratequote.asmx
ROADRUNNER_APPLICATION_ID=
ROADRUNNER_API_KEY=
ROADRUNNER_SITE=
ROADRUNNER_ACCOUNT=
ROADRUNNER_TIMEOUT_MS=20000
ROADRUNNER_ACCESSORIAL_MAP={}

WWEX_AUTH_URL=https://auth.wwex.com/oauth/token
WWEX_API_BASE_URL=https://www.speedship.com/svc/
WWEX_CLIENT_ID=
WWEX_CLIENT_SECRET=
WWEX_AUDIENCE=wwex-apig
WWEX_TIMEOUT_MS=30000

FORWARD_AIR_BASE_URL=https://api.forwardair.com
FORWARD_AIR_USER=
FORWARD_AIR_PASSWORD=
FORWARD_AIR_CUSTOMER_ID=
FORWARD_AIR_BILL_TO_NUMBER=
FORWARD_AIR_SHIPPER_NUMBER=
FORWARD_AIR_TIMEOUT_MS=20000
FORWARD_AIR_PICKUP_ACCESSORIAL_MAP={}
FORWARD_AIR_DELIVERY_ACCESSORIAL_MAP={}
