BACKEND_PORT=4000
SEED_DEMO_DATA=false
CORS_ORIGIN=https://tms.yourcompany.com
INTERNAL_APP_ACCESS_CODE=REPLACE_WITH_A_LONG_RANDOM_SECRET

VITE_API_BASE_URL=
VITE_ENTRA_TENANT_ID=
VITE_ENTRA_CLIENT_ID=
VITE_ENTRA_API_SCOPE=

SQL_SERVER_CONNECTION_STRING=Driver={ODBC Driver 17 for SQL Server};Server=20.115.91.30;Database=LTLTms;Uid=ltltms_app;Pwd=REPLACE_WITH_APP_PASSWORD;Encrypt=yes;TrustServerCertificate=yes;

ENTRA_TENANT_ID=
ENTRA_CLIENT_ID=
ENTRA_AUDIENCE=
ENTRA_REQUIRED_SCOPE=access_as_user

CARRIER_API_CONFIG=[]
THREE_PL_CLIENT_ID=
THREE_PL_CLIENT_SECRET=
PRIORITY1_API_KEY=
PRIORITY1_CUSTOMER_ID=
ROADRUNNER_APPLICATION_ID=
ROADRUNNER_API_KEY=
WWEX_CLIENT_ID=
WWEX_CLIENT_SECRET=
FORWARD_AIR_USER=
FORWARD_AIR_PASSWORD=
FORWARD_AIR_CUSTOMER_ID=
FORWARD_AIR_BILL_TO_NUMBER=
